api.yml
id: Api_calls
namespace: fabri.workflows

inputs:
  - id: endpoint
    type: STRING
    defaults: "your endpoint here"
  
  - id: password
    type: STRING
    defaults: "your password here"

tasks:
  - id: api_request
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands: 
      - pip install requests Kestra
    script: |
      import json
      import requests as rq
      # Corregí la concatenación de strings
      peticion = rq.get("{{inputs.endpoint}}" + "{{inputs.password}}")
      print(peticion.status_code)

      with open("finance.json", "w") as f:
          json.dump(peticion.json(), f)
    outputFiles:
      - finance.json

  - id: process_data
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands: 
      - pip install pandas  # Para manejo avanzado de datos
    script: |
      import json
      from collections import defaultdict
      from datetime import datetime  # Este import faltaba

      # 1. Cargar el JSON de la tarea anterior
      with open("{{outputs.api_request.outputFiles['finance.json']}}", "r") as f:
          data = json.load(f)

      # 2. Procesar los datos para extraer tópicos y relevancias
      topics_relevance = defaultdict(list)
      
      for article in data["feed"]:
          for topic in article["topics"]:
              topic_name = topic["topic"]
              relevance = topic["relevance_score"]
              topics_relevance[topic_name].append(relevance)
      
      # Convertir defaultdict a dict normal para serialización JSON
      result = {
          "topics_with_relevance": dict(topics_relevance),
          "metadata": {
              "total_articles_processed": len(data["feed"]),
              "unique_topics_count": len(topics_relevance),
              "processing_date": datetime.now().isoformat()
          }
      }

      # 3. Guardar resultados en archivo JSON
      with open("topics_and_relevance.json", "w") as out_file:
          json.dump(result, out_file, indent=2)

    outputFiles:
      - topics_and_relevance.json